*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.main_container{
    height: 100vh;
}

.flex_box{
    display: flex;
    width: 100%;
}

.left_cont{
    width: 30%;
    background-color: rgb(17, 143, 226);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right_cont{
    width: 70%;
    background-color: #eee;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

